.custom-modal-container {
  z-index: 2000;
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);

  &.active {
    display: flex;
  }
}

.modal-view {
  z-index: 9999;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -40%);
  max-width: 100%;
  background-color: white;
  color: black;
  // padding: 15px;
  overflow: hidden;
  border-radius: 0.225rem;

  .control {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
  }
}
