@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";

.rides-tab-container {
  position: relative;
  // top: -250px;

  padding: 50px 50px;
  // transform: translateY(-350px);
  // background-color: rgb(245, 246, 246);
  h2 {
    display: flex;
    align-items: center;
    vertical-align: middle;
    font-family: $Montserrat;
    font-weight: $weightEBold;
    font-size: $large;
    color: black;

    & > span {
      margin-left: 15px;
      background-color: $orange;
      font-size: $extra_small;
      align-self: center;
      color: white;
      padding: 5px 10px;
      border-radius: 1.125rem;
      font-size: .75rem;
    }
  }

  .ride-cards-container {
    .card-item {
      flex-basis: 30%;
      flex-grow: 0;
      border-radius: 12px;
    }
  }
}
