.confirmation-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px 20px 20px;
  width: 450px;

  .icon.check {
    font-size: 100px;
    color: #28a745;
  }

  .greeting {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .message {
    font-weight: 400;
    text-align: center;
    font-size: 0.8rem;
    line-height: 0.9rem;
    opacity: 0.4;
    margin-bottom: 50px;
  }

  .details {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 2rem;
    div:first-child {
      font-weight: 600;
    }

    div:last-child {
      text-align: right;
      font-weight: 300;
    }
  }
}
