$SigmarOne: "Sigmar One", cursive;
$Gluten: "Gluten", cursive;
$Montserrat: "Montserrat", sans-serif;

$extra_small: 0.75rem;
$small: 0.85rem;
$normal: 1rem;
$medium: 1.25rem;
$large: 1.5rem;
$extra_large: 2rem;

$weightLight: 300;
$weightRegular: 400;
$weightMedium: 500;
$weightSemi: 600;
$weightBold: 700;
$weightEBold: 800;
$weightBlack: 900;
