@import "breakpoints";
@import "fonts";
@import "colors";
@import "mixins";

//Import Fonts
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sigmar+One&display=swap");

//Reset CSS
// html, body, div, span, applet, object, iframe,
// h1, h2, h3, h4, h5, h6, p, blockquote, pre,
// a, abbr, acronym, address, big, cite, code,
// del, dfn, em, img, ins, kbd, q, s, samp,
// small, strike, strong, sub, sup, tt, var,
// b, u, i, center,
// dl, dt, dd, ol, ul, li,
// fieldset, form, label, legend,
// table, caption, tbody, tfoot, thead, tr, th, td,
// article, aside, canvas, details, embed,
// figure, figcaption, footer, header, hgroup,
// menu, nav, output, ruby, section, summary,
// time, mark, audio, video {
// 	margin: 0;
// 	padding: 0;
// 	border: 0;
// 	font-size: 100%;
// 	font: inherit;
// 	vertical-align: baseline;
// }
// /* HTML5 display-role reset for older browsers */
// article, aside, details, figcaption, figure,
// footer, header, hgroup, menu, nav, section {
// 	display: block;
// }
// body {
// 	line-height: 1;
// }
// ol, ul {
// 	list-style: none;
// }
// blockquote, q {
// 	quotes: none;
// }
// blockquote:before, blockquote:after,
// q:before, q:after {
// 	content: '';
// 	content: none;
// }
// table {
// 	border-collapse: collapse;
// 	border-spacing: 0;
// }

//Global Styles
body {
  font-size: $normal;
  font-weight: $weightRegular;
  font-family: $Montserrat;
}

.box-shadow__1 {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

//fonts
.ff-so {
  font-family: $SigmarOne;
}

.ff-g {
  font-family: $Gluten;
}

.ff-m {
  font-family: $Montserrat;
}

//CUSTOM BUTTONS

//ACCESS PASS PAGE

.access-pass-page.bg {
  background-color: white;
  color: black;
}
.access-pass-page {
  // background-color: rgba(0, 0, 0, 0.07);
  // background-color: $orange;
  background-color: $orange;
  color: white;
  min-height: 100vh;

  .name-header {
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 15px;
  }

  .label {
    font-size: 1.25rem;
  }
}
.access-pass-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin-bottom: 20px;
}
